<div id="footers">
    <!--ZOOMCAR footers Start-->
    <div class="flex ">
        <div class="size ">
            <img src="https://cdn-icons-png.flaticon.com/512/2706/2706872.png" class="div_size_child ">
            <p class="div_size_child_p ">How Zoomcars works?</p>
        </div>
        <div class="size ">
            <img src="https://cdn-icons-png.flaticon.com/512/2476/2476231.png" class="div_size_child ">
            <p class="div_size_child_p ">Policies</p>
        </div>
        <div class="size ">
            <img src="https://cdn-icons-png.flaticon.com/512/1057/1057011.png" class="div_size_child ">
            <p class="div_size_child_p ">Help-Support</p>
        </div>
        <div class="size ">
            <img src="https://cdn-icons.flaticon.com/png/512/1962/premium/1962508.png?token=exp=1635526152~hmac=8ea6405ac8a63a113ba1e1464379c000" class="div_size_child ">
            <p class="div_size_child_p ">Zoom in Safety</p>
        </div>
    </div>
</div>
<!--ZOOMCAR footers End-->

