<div id="footers">
    <!--ZOOMCAR footers Start-->
    <div class="flex ">
        <div class="size ">
            <img src="https://www.zoomcar.com/build/img/zc-works.2adcbe18edb84c7c1fdf0c8d6c894f8b.svg " class="div_size_child ">
            <p class="div_size_child_p ">How Zoomcars works?</p>
        </div>
        <div class="size ">
            <img src="https://www.zoomcar.com/build/img/policies.ceddb15a4eef16af85ba8666b1522741.svg " class="div_size_child ">
            <p class="div_size_child_p ">Policies</p>
        </div>
        <div class="size ">
            <img src="https://www.zoomcar.com/build/img/help-support.acf244c0683e201bd2d978f1ddc5d33d.svg " class="div_size_child ">
            <p class="div_size_child_p ">Help-Support</p>
        </div>
        <div class="size ">
            <img src="https://www.zoomcar.com/build/img/safety.127607759cd86e3d75f5698a641d5b83.svg " class="div_size_child ">
            <p class="div_size_child_p ">Zoom in Safety</p>
        </div>
    </div>
</div>
<!--ZOOMCAR footers End-->