<div id="nav">

    <img src="https://www.zoomcar.com/build/img/logo.f0c7a9744cfeb3fb5c90eafda61dd2ce.svg">


    <div class="float-r">

        <a onclick="signup_roh()">LOGIN</a>

    </div>
    <div class="float-r">
        <a onclick="signup_roh()">SIGNUP</a>
    </div>
    <div class=" float-r  .mob_div">
        <div class="dropbtn float-r dropdown" id="app">MOBILE APP

            <!-- <i class="fa fa-caret-down"></i>-->

            <div class="dropdown-content">
                <a href="https://play.google.com/store/apps/details?id=com.zoomcar&referrer=utm_source%3Dhome%2520page%26utm_medium%3Dheader%2520links%26utm_content%3Dandroid%26utm_campaign%3Dinstalls">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJj8LuevwdQYk2S3w1B3EeDskXk7LvtcHOkzlQQnWO3NMDX6qwH7bCnGHqCR_t_aFmtw&usqp=CAU" class="dropbtn_child_a"></a>
                <a href="https://itunes.apple.com/us/app/zoomcar-self-drive-cars/id889910218?mt=8&utm_source=home%20page&utm_medium=header%20links&utm_content=iOS&utm_campaign=installs">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwAFKoUEGpPjP79LPi6r9bFfem3GIOQawWVV75SkXyBwevJd183Bvw_wI9duOdX5rTccU&usqp=CAU">
                </a>

            </div>
        </div>
    </div>
    <div class="float-r cursor">
        ZMS
    </div>
    <div class="float-r cursor">
        AMIGO
    </div>
    <div class="float-r">
        <a href="#">SUBSCRIPTION</a>
    </div>
    <div class="float-r">
        <a href="/signup/offers">OFFERS</a>
    </div>

</div>