

<body>
    <div id="navbar">
      <img src="https://www.zoomcar.com/build/98e56e8b0b91e8806885a22ac2bf69a7.png">

      <div class="f-r .mobile_div">
        <%  name.forEach(function (input) { %>
        <div class="font20 dropbutton f-r droppdown pointer" id="user" >
            <%=input.name%>
            <div class="dropdown-contentt">
              <a href="/home">LOG OUT</a>

            </div>
            <% }) %>
        </div>
    </div>
       
        <div class=" f-r  .mobile_div">
            <div class="dropbutton f-r droppdown pointer" id="mob_app">MOBILE APP

                <!-- <i class="fa fa-caret-down"></i>-->

                <div class="dropdown-contentt">
                    <a href="https://play.google.com/store/apps/details?id=com.zoomcar&referrer=utm_source%3Dhome%2520page%26utm_medium%3Dheader%2520links%26utm_content%3Dandroid%26utm_campaign%3Dinstalls"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJj8LuevwdQYk2S3w1B3EeDskXk7LvtcHOkzlQQnWO3NMDX6qwH7bCnGHqCR_t_aFmtw&usqp=CAU" class="dropbtn_child_img"></a>
                    <a href="https://itunes.apple.com/us/app/zoomcar-self-drive-cars/id889910218?mt=8&utm_source=home%20page&utm_medium=header%20links&utm_content=iOS&utm_campaign=installs">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwAFKoUEGpPjP79LPi6r9bFfem3GIOQawWVV75SkXyBwevJd183Bvw_wI9duOdX5rTccU&usqp=CAU" class="dropbtn_child_img">
                    </a>

                </div>
            </div>
        </div>
        <div class="f-r pointer">
            ZMS
        </div>
        <div class="f-r pointer">
            AMIGO
        </div>
        <div class="f-r">
            <a href="#">SUBSCRIPTION</a>
        </div>
        <div class="f-r">
            <a href="/home/offers">OFFERS</a>
        </div>
       
    </div>
        
