<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.zoomcar.com/build/img/favicon.d917d618529f3ffdf883e3b847e516df.png" />
    <link rel="stylesheet" href="offer.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Self Drive Car Rentals |Book ZoomCar & Feel Safe!zoomcar.com</title>

</head>

<body>
    <!--NAV BAR Start-->
    <div id="nav">
        <img src="https://www.zoomcar.com/build/img/logo.f0c7a9744cfeb3fb5c90eafda61dd2ce.svg" class="nav_img">
        <div class=" float-r flot_r">
            <div class="dropbtn float-r dropdown" id="app">MOBILE APP
                <div class="dropdown-content">
                    <a href="https://play.google.com/store/apps/details?id=com.zoomcar&referrer=utm_source%3Dhome%2520page%26utm_medium%3Dheader%2520links%26utm_content%3Dandroid%26utm_campaign%3Dinstalls">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJj8LuevwdQYk2S3w1B3EeDskXk7LvtcHOkzlQQnWO3NMDX6qwH7bCnGHqCR_t_aFmtw&usqp=CAU"></a>
                    <a href="https://itunes.apple.com/us/app/zoomcar-self-drive-cars/id889910218?mt=8&utm_source=home%20page&utm_medium=header%20links&utm_content=iOS&utm_campaign=installs">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwAFKoUEGpPjP79LPi6r9bFfem3GIOQawWVV75SkXyBwevJd183Bvw_wI9duOdX5rTccU&usqp=CAU">
                    </a>
                </div>
            </div>
        </div>
        <div class="float-r ">
            ZMS
        </div>
        <div class="float-r ">
            AMIGO
        </div>
        <div class="float-r ">
            <a href="#">SUBSCRIPTION</a>
        </div>
        <div class="float-r ">
            <a href="../Offer/offer.html">OFFERS</a>
        </div>

    </div>
    <!--NAV BAR END-->
    <div id="offer">
        <div class="offer_cont">
            <p>ZOOMCAR OFFERS </p>
            <hr/>

            <div class="flex">
                <div class="offer_1">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/eb22162182ec9e2dadd80845d46a8e069971e565.jpg?1629870448" >
                    <p class="p_1">Promo Code: alkotak30</p>
                    <p class="p_2">Validity: 31 Aug, 2021</p>
                </div>

                <div class="offer_1"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/466f346c4879d3a769580d771bc1eca4f80a6fbc.jpg?1619090061" >
                    <p class="p_1">Promo Code: safetravel</p>
                    <p class="p_2">Validity: 31 Aug, 2021</p>
                </div>



            </div>
            <div class="flex">
                <div class="offer_1">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/a25f064ad6df697fa081486deaa2e48e1955aeac.jpeg?1627054925 ">
                    <p class="p_1">Promo Code: alworkation</p>
                    <p class="p_2">Validity: 31 Aug, 2021</p>
                </div>

                <div class="offer_1"><img src=" https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/35e53c4ca74190baa926058ca6e78c82efe9b8b3.jpg?1623074611 ">
                    <p class="p_1">Promo Code: alzoomjoy</p>
                    <p class="p_2">Validity: 31 Aug, 2021</p>
                </div>



            </div>
            <div class="flex ">
                <div class="offer_1"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/9597c84fdf092c851cbfca5dd03c63bbda3915a8.jpg?1618388121 ">
                    <p class="p_1" >Promo Code: alzoomfit</p>
                    <p class="p_2">Validity: 31 Aug, 2021</p>
                </div>

                <div class="offer_1"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/3a036b7e841c0da948fa7cf23d649bc050a12644.png?1543229981 ">
                    <p class="p_1" >Promo Code: almcard1500</p>
                    <p class="p_2">Validity: 31 Aug, 2021</p>
                </div>



            </div>


        </div>
    </div>

    <div id="footers">
        <!--ZOOMCAR footers Start-->

        <div id="footers">
            <!--ZOOMCAR footers Start-->
            <div class="flex">
                <div  class="size">
                    <img src="https://www.zoomcar.com/build/img/zc-works.2adcbe18edb84c7c1fdf0c8d6c894f8b.svg" class="div_size_child" >
                    <p class="div_size_child_p">How Zoomcars works?</p>
                </div>
                <div  class="size">
                    <img src="https://www.zoomcar.com/build/img/policies.ceddb15a4eef16af85ba8666b1522741.svg" class="div_size_child"  >
                    <p class="div_size_child_p">Policies</p>
                </div>
                <div class="size">
                    <img src="https://www.zoomcar.com/build/img/help-support.acf244c0683e201bd2d978f1ddc5d33d.svg"  class="div_size_child"  >
                    <p class="div_size_child_p">Help-Support</p>
                </div>
                <div  class="size">
                    <img src="https://www.zoomcar.com/build/img/safety.127607759cd86e3d75f5698a641d5b83.svg" class="div_size_child"  >
                    <p class="div_size_child_p">Zoom in Safety</p>
                </div>
            </div>
        </div>
    <!--ZOOMCAR footers End-->
</body>

</html>

</html>
