<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.zoomcar.com/build/img/favicon.d917d618529f3ffdf883e3b847e516df.png" />
    <link rel="stylesheet" href="/css/offer.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Self Drive Car Rentals |Book ZoomCar & Feel Safe!zoomcar.com</title>

</head>

<body>
    <%- include('partials/navbar') %>
        <div id="offer">
            <div class="offer_cont">
                <p>ZOOMCAR OFFERS </p>
                <hr/>

                <div class="flex">
                    <div class="offer_1">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/eb22162182ec9e2dadd80845d46a8e069971e565.jpg?1629870448">
                        <p class="p_1">Promo Code: alkotak30</p>
                        <p class="p_2">Validity: 31 Aug, 2021</p>
                    </div>

                    <div class="offer_1"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/466f346c4879d3a769580d771bc1eca4f80a6fbc.jpg?1619090061">
                        <p class="p_1">Promo Code: safetravel</p>
                        <p class="p_2">Validity: 31 Aug, 2021</p>
                    </div>



                </div>
                <div class="flex">
                    <div class="offer_1">
                        <img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/a25f064ad6df697fa081486deaa2e48e1955aeac.jpeg?1627054925 ">
                        <p class="p_1">Promo Code: alworkation</p>
                        <p class="p_2">Validity: 31 Aug, 2021</p>
                    </div>

                    <div class="offer_1"><img src=" https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/35e53c4ca74190baa926058ca6e78c82efe9b8b3.jpg?1623074611 ">
                        <p class="p_1">Promo Code: alzoomjoy</p>
                        <p class="p_2">Validity: 31 Aug, 2021</p>
                    </div>



                </div>
                <div class="flex ">
                    <div class="offer_1"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/9597c84fdf092c851cbfca5dd03c63bbda3915a8.jpg?1618388121 ">
                        <p class="p_1">Promo Code: alzoomfit</p>
                        <p class="p_2">Validity: 31 Aug, 2021</p>
                    </div>

                    <div class="offer_1"><img src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/3a036b7e841c0da948fa7cf23d649bc050a12644.png?1543229981">
                        <p class="p_1">Promo Code: almcard1500</p>
                        <p class="p_2">Validity: 31 Aug, 2021</p>
                    </div>



                </div>


            </div>
        </div>

        <%- include('partials/footers') %>
</body>

</html>

</html>