 /* navvar */
 #nav{    background-color: #33414f;
    margin: -9px -9px;
    padding: 1% 2% 1% 2%;
    height: 15%;
    color: white;
    width: 100.6%;}
        
        #nav>div {
            margin: 0% 0.5%;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 20px;
        }
 .float-r {
            float: right;
        }
.dropbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
   .dropdown {
    float: left;
    overflow: hidden;
    margin: -11px 0px 0px 0px !important;
}
        
        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            /* Important for vertical align on mobile phones */
        }
        
        .dropdown-content {
            display: none;
            margin-left: -30px;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        /* Links inside the dropdown */
        
        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        /* Add a grey background color to dropdown links on hover */
        
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        /* Show the dropdown menu on hover */
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        body * {
            font-family: "Open Sans",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif!important;
           
        }
        body{
            overflow-x: hidden;        }
       
       
        .zms  {
            color: white;
        }
        .amigo{
            color: white;
        }
        a:link {
            text-decoration: none;
        }
        
        a:active {
            color: green;
        }
        
        a {
            color: white;
        }
        
        .float-r {
            float: right;
        }
        .dropbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        
        .dropdown {
            float: left;
            overflow: hidden;
            margin: -16px 17px 0px 0px !important;
        }
        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            /* Important for vertical align on mobile phones */
            margin: 0;
            /* Important for vertical align on mobile phones */
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        /* Links inside the dropdown */
        
        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        /* Add a grey background color to dropdown links on hover */
        
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        /* Show the dropdown menu on hover */
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        #checkout_cont {
            max-width: 60%;
            padding: 20px;
            min-height: 400px;
            background-color:rgb(243,243,243);
            border-radius: 8px;
            margin: 50px auto ;   
        }
        .payment_cont {
            width: 60%;
            background-color: white;
            border: 1px solid #ccc;
            float: left;
        }

        .checkout_div {
            padding: 15px 10px;
            font-size: 18px;
            border-bottom: 1px solid #eee;
        }
        .book_div {
            padding: 15px 10px;
          
            border-bottom: 1px solid #eee;
        }
        .booking {
            
            font-size: 16px;
        }
        .rupees_paid {
            font-size: 16px;
            color: #00AEFF;
        }
        .promotion {
            border-bottom: 1px solid #eee;
            padding: 15px 10px;
            margin-bottom: 10px;

        }
        .refund_cont {
            padding: 15px 10px;
            /* margin-bottom: 10px; */
            border-bottom: 1px solid #eee;
        }
        .coupon_btn{
            background-color: #70AD4D;
            border-radius: 3px;
            border: none;
            color: white;
            cursor: pointer;
        }

        .total{
            padding: 15px 10px;
            background-color: #F2F8ED;
        } 
        .car_cont {
            width: 35%;
            background-color: white;
            border: 1px solid #ccc;
            float: right;  
        }
        .summary {
            padding: 10px 0px;
            text-align: center;
            font-size: 18px;
        }
        .f_l {
            float: left;
    font-weight: 600;
        }
        .f_r {
            float:right;
        }
        .clear {
            clear: both;
        }
        .Car_details{
            text-align: center;
        }
        .btn_cont {
           
            width: 60%;
            text-align: center;
            margin: 20px 20px 0px 0px;
        }
        #checkout_btn{
            cursor: pointer;
            background-color: #70AD4D ;
            color: white;
            font-size: 16px;
            border-radius: 4px;
            font-weight: 500;
            border: none;
            padding: 10px 25px;

        }
        .border {
            border-bottom: 1px solid #eee;
        }

        .start_end_cont {
            margin: 0px 8px;
            padding: 10px 0px;
            text-align: center;
        }
       
        .start {
            font-size: 18px;
            color: #666666;
            display: inline-block;
        }
        .start_time {
            font-size: 11px;
            font-weight: 100;
        }
        .to {
            background: url(https://assets.zoomcar.com/assets/home/to-027eb439c7db0a0ce1cb1fe2c2535cc1.svg) no-repeat 45.8% 52.6%;
            height: 33px;
            width: 50px;
            display: inline-block;
        }
        .end {
            font-size: 18px;
            color: #666666;
            display: inline-block;

        }
        .end_time {
            font-size: 11px;
            font-weight: 100;
        }
        
         p {
            /* color: white; */
        }
        .flex {
    display: flex;
    height: 10px;
    width: 1019px;
    margin-left: 230px;
}
        
        #info>.flex>div {
            width: 20%;
            align-items: center;
            height: 35%;
            margin: 1%;
            margin-left: 12%;
        }
        
    
.car_img_prop{
    height: 100%;
    width: 100%;
}


#data_flex{
            display: flex;

        } 
        #data_flex>div{
            flex-direction: row;
        }
        #date_start{
            width: 50%;
            height: 80px;
            background-color: white;
            border: 1px solid #d8d8d8;
        }
        .dat_head_h5{
    margin: 8px 0px 0px 22px !important;
}
.p_info{
            display: flex;
        }
        .p_info>div{
            flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
        }
        .left_date ,.right_date{
        margin: 0px 0px 0px 22px;
    font-size: 34px;
    text-align: center;
}
h6.p_day,.d_day {
    margin: 6px 0px 0px 12px;
    font-size: 14px;
    font-weight: 500;
}
p.s_time_date,.e_time_date {
    margin: 0px 0px 0px 12px;
    font-size: 11px;
    font-weight: 500;
}
#date_end{
            width: 50%;
            height: 80px;
            background-color: white;
            border: 1px solid #d8d8d8;
        } 
        .dat_head_h5{
    margin: 8px 0px 0px 22px !important;
}
p.s_time_date,.e_time_date {
    margin: 0px 0px 0px 12px;
    font-size: 11px;
    font-weight: 500;
}
        #d_p_point{
            display: flex;
            flex-direction: row;
        }
        #star_point{
            width: 50%;
    height: 80px;
    border: 1px solid #d8d8d8;
    background-color: white;
        }
        #drop_point{
            width: 50%;
    height: 80px;
    background-color: white;
    border: 1px solid #d8d8d8;
        }
        .pick_city{
            font-size: 18px;
    font-weight: 700;
    opacity: .87;
    text-transform: capitalize;
    margin: 7px 0px 0px 10px;
    font-family: 'Open Sans', sans-serif;
    color: #323a44;
        }
        .drop_city{
            font-size: 18px;
    font-weight: 700;
    opacity: .87;
    text-transform: capitalize;
    margin: 7px 0px 0px 10px;
    font-family: 'Open Sans', sans-serif;
    color: #323a44;
        }
        .p_point_car,.d_point_car{
            margin: 0px 0px 0px 10px;
    font-size: 11px;
    color: #000;
    opacity: .54;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 16px;
    max-height: 16px;
}
h5{
            font-family: Open Sans;
            height: 15px;
            width: 112px;
    align-items: center;
    opacity: .54;
    font-size: 11px;
    color: #000;
    margin: 9px 0px 0px 10px;
        }
         #footers {
            background-color: #33414f;
    align-items: center;
    text-align: center;
    margin: -1% 1%;
    padding: 2%;
    height: 113px;
    /* margin-left: -2%; */
    margin-top: 0px;
    width: 100%;
    margin-left: -3px;
    /* margin-right: 130px; */
    padding-right: 40px;
    color: white;
    margin-left: -11px;
}


.float-r {
    cursor: pointer;
}
.span_fuel{
    font-size: 12px;
     color: #999999;
}
.price{
    font-size: 16px;
}
.tp{
    font-weight: 600;
}
#total{
    color: #70AD4D; 
    font-weight: 800;
}
#checkout_btn{
    cursor: pointer;
}
.size{
    height: 50%;
    width: 50%;
}
.size>img{
    height: 50px;
    width: 50px;
    margin-top: 3%;
}
.size>p{
    margin: 1%;
    text-align: center;
    font-size: 20px;
}
img {
    height: 80%;
    width: 10%;
}

#app {
    font-size: 20px;
    background-color: transparent;
    margin-top: 0px;
    height: -10px;
}

.dropdown-content>img {
    height: 35px;
    width: 100%;
}
.dropdown-content>a {
    height: 44px;
    width: 810%;}

.redirect {
    height: 35px;
    width: 88%;
}
.nav_img{
    height: 80%;
    width: 10%;
}
.flot_r{
    height: -10px;
    margin-top: 0px;
}
.spanfee{
    font-size: 12px;
     color: #999999;
}
.refundable{
    font-size: 16px;
}
.totalpayble{
    font-weight: 600;
}
.totalpayblecol{
    color: #70AD4D; font-weight: 800;
}
#checkout_btn{
    cursor: pointer;
}
            