body * {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif!important;
}

option {
    background-color: white;
    color: black;
}

.cont {
    width: 100%;
    height: 100%;
    ;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}



.flx_1_2_img {
    height: 50px;
    width: 50px;
    margin-top: 3%;
}

.cont1 {
    width: 100%;
    height: 100%;
    ;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.cont2 {
    width: 100%;
    height: 100%;
    ;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

#main {
    max-width: 60%;
    width: 100%;
    padding: 20px;
    min-height: 500px;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: #33414f;
    position: relative;
    overflow: hidden;
    /* display: none; */
    border: none
}

a {
    text-decoration: none;
    color: white;
}



.gray {
    color: rgb(61, 56, 56);
}

.flex_1_2>div>img {
    height: 50px;
    width: 50px;
    margin-top: 3%;
}

.flex_1_2>div>h3 {
    color: rgb(116, 214, 116);
}

.flex_1_2>div>p {
    text-align: center;
    margin: 1%;
    font-size: 15px;
}

.flex_1_2>div {
    height: 50% !important;
    width: 20%;
    background-color: white;
    margin-right: .5%;
    margin-left: 0%;
}

.flex_1_1>div>img {
    height: 50px;
    width: 50px;
    margin-top: 3%;
}

.step_head {
    color: rgb(61, 56, 56);
    padding-bottom: 23px;
}

.flex_1_1>div>h3 {
    color: rgb(116, 214, 116);
}

.zoom_work {
    font-size: 25px;
    color: rgb(61, 56, 56);
    margin: 52px 0px 0px -29.6px !important;
    padding: 32px 0px 0px 0px;
    width: 104%;
    background-color: rgb(249, 249, 249);
}

.flex_1_1>div>p {
    text-align: center;
    margin: 1%;
    font-size: 15px;
}

.flex_1_1>div {
    height: 50% !important;
    width: 20%;
    background-color: white;
    margin-right: .5%;
}

.flex_2_1>div {
    width: 50%;
    background-color: white;
    margin-right: 18px;
    border-radius: 10px;
    height: 35% !important;
    box-shadow: 0 12px 22px 2px rgb(0 0 0 / 10%);
}

.flex_2_1>div>img {
    height: 60px;
    width: 60px;
    margin-top: 10%;
}

.flex_2_2>div {
    height: 70%;
    width: 50%;
    background-color: rgb(249, 249, 249);
}

#slide {
    background-image: url(	https://assets.zoomcar.com/assets/zap/zap-buy-car-desktop-c18e7edc84954c5437222b8ac13c7a27.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10%;
    height: 500px;
    margin: 0% 0%;
    margin-left: -2%;
    padding: 2%;
    color: white;
}

#slide1 {
    display: flex;
    margin-left: 108px;
    margin-top: 52px;
}

#slide1>button {
    font-size: 100px;
    width: 15%;
    margin: 10%;
    background-color: transparent;
    margin-top: 1%;
    color: white;
}

#slide>div:nth-child(1) {
    align-items: center;
    margin-left: 600px;
    height: 40px;
    width: 50px;
    margin-top: 25px;
    margin-bottom: 1px;
}

#review {
    font-size: 25px;
    width: 100%;
    margin: 12%;
    text-align: center;
}

#p_name {
    color: green;
}

#qoutation {
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 50px;
    margin: 58px 0px 0px 57px;
    border-radius: 50px;
}

.flex_2_2>img {
    height: 120px;
    width: 70px;
    margin-top: 3%;
}

.flex_2_2>p {
    margin: 10%;
    text-align: center;
}

.flex_2_1>div>p:nth-child(even) {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    color: #323a44;
}

.flex_2_1>div>p:nth-child(odd) {
    margin: 4%;
    text-align: center;
}



#ad_p {
    font-size: 25px;
    color: rgb(61, 56, 56);
}

#arrow {
    margin-left: 91%;
    margin-top: -33px;
    font-size: 25px;
    color: rgb(32, 30, 30);
}

.font20 {
    font-size: 20px;
    color: black;
}

#bold {
    font-size: 45px;
    color: black;
}

.float-r {
    float: right;
}

#main-cont {
    background-image: url(maincont.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 97%;
    height: 500px;
    margin: 0% 0%;
    padding: 2%;
    border: 5px;
    color: white;
}

.intro {
    text-align: center;
    margin: 10%;
    font-family: "arial";
}

.intro>p {
    margin-top: 1%;
}

#city {
    color: black;
    border: 0px;
    background-color: transparent;
    font-size: 20px;
    color: rgb(41, 38, 38);
}

#slide {
    background-image: url(	https://assets.zoomcar.com/assets/zap/zap-buy-car-desktop-c18e7edc84954c5437222b8ac13c7a27.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    margin: 0% 0%;
    margin-left: -2%;
    padding: 2%;
    color: white;
}

#info {
    background-color: rgb(201, 198, 198);
    align-items: center;
    text-align: center;
    margin: 0% 0%;
    padding: 2%;
    height: 500px;
    width: 97%;
}

#work {
    background-color: rgb(201, 198, 198);
    align-items: center;
    text-align: center;
    margin: 0% 0%;
    padding: 2%;
    height: 340px;
    width: 97%;
}

#work>.size {
    height: 150px;
    width: 200px;
}

#work>.flex>div {
    width: 20%;
    align-items: center;
    height: 150px;
    margin: 1%;
    margin-left: 3%;
}

.flex_2_1 {
    display: flex;
    height: 119%;
    width: 81%;
    margin-bottom: -11%;
    margin-left: 150px;
}

#users {
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 0% 0%;
    margin-top: 4%;
    margin-left: -2%;
    padding: 2%;
    height: 250px;
    width: 100%;
}

#work>.flex_1_1>div {
    width: 20%;
    align-items: center;
    height: 150px;
    margin: 1%;
    margin-left: 3%;
}

#work>.flex_1_2>div {
    width: 20%;
    align-items: center;
    height: 150px;
    margin: 1%;
    margin-left: 3%;
}

.flex_1_1 {
    display: flex;
    height: 69%;
    width: 107%;
    margin-left: 17.5%;
    margin-bottom: -13.7%;
}

.flex_1_2 {
    display: flex;
    height: 69%;
    width: 107%;
    margin-left: 17.5%;
    margin-bottom: -12.2%;
}

#info>.flex>div {
    align-items: center;
    margin: 1%;
    margin-left: -0.5%;
}

.flex_2_2 {
    display: flex;
    width: 104%;
    height: 443px;
    margin-bottom: -12.9%;
}

#info>.flex>div {
    width: 20%;
    align-items: center;
    height: 35%;
    margin: 1%;
    margin-left: 12%;
}

.flex {
    display: flex;
    height: 10px;
    width: 1019px;
    margin-left: 230px;
}

.size {
    height: 55% !important;
    width: 50%;
}

.flex>div {
    width: 400px;
}

.size>img {
    height: 50px;
    width: 50px;
    margin-top: 3%;
}

.size>p {
    margin: 1%;
    text-align: center;
    font-size: 14px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}


#flow {
    overflow: hidden;
    background-color: transparent;
}

.sticky {
    position: fixed;
    top: 0;
    width: 105%;
    display: flex;
    height: 80px;
    flex-direction: row;
    background: white;
    margin-left: -193px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.serachbar_pro_img {
    margin-left: -472px;
    margin-top: 20px;
    width: 107px;
    height: 27px;
}

#serac_bar_default {
    background-color: white;
    border: 1px solid rgb(44, 43, 43);
    border-radius: 6px;
    height: 58px;
    width: 538px;
    color: rgb(49, 45, 45);
    margin-left: 28%;
    font-size: 20px;
    align-items: center;
}

body {
    font-family: "arial";
    width: 95.6%;
    padding: 0px 0px 0px 0px;
    background: rgb(249, 249, 249);
    margin: 0px 0px 0px 0px;
    overflow-x: hidden;
}

#start {
    margin: 14px 0px 0px -248px;
    padding: 0px 0px 0px 0px;
}

.p_class_flow {
    text-align: center;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 9px;
    font-weight: 100;
    font-family: sans-serif;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    #nav {
        background-color: rgb(41, 43, 61);
        margin: 0% 0%;
        padding: 2%;
        height: 15%;
        color: white;
        width: 580px;
    }
    #nav>div {
        margin: 0% 0.5%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 10px;
    }
    #main-cont {
        background-image: url(https://www.zoomcar.com/img/bg-desktop.png) !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 580px;
        height: 500px;
        margin: 0% 0%;
        padding: 2%;
        border: 5px;
        color: white;
    }
    .intro {
        text-align: center;
        margin: 10%;
        font-family: "arial";
    }
    .intro>p {
        margin-top: 1%;
    }
    #city {
        border: 0px;
        background-color: transparent;
        font-size: 10px;
        color: rgb(41, 38, 38);
    }
    #slide {
        width: 580px;
        height: 600px;
    }
    #p,
    #p_name {
        font-size: 15px;
    }
    #info {
        height: 700px;
        width: 580px;
    }
    #work {
        height: 400px;
        width: 580px;
    }
    #work>.size {
        height: 200px;
        width: 200px;
    }
    #work>.flex>div {
        width: 20%;
        align-items: center;
        height: 150px;
        margin: 1%;
        margin-left: 1.5%;
    }
    #users {
        background-color: white;
        align-items: center;
        text-align: center;
        margin: 0% 0%;
        margin-top: 4%;
        margin-left: -2%;
        padding: 2%;
        height: 300px;
        width: 580px;
    }
    #footers {
        background-color: rgb(41, 43, 61);
        align-items: center;
        text-align: center;
        margin: 0% 0%;
        padding: 2%;
        height: 150px;
        margin-left: -2%;
        margin-top: 1px;
        width: 580px;
        color: white;
    }
    #info>.flex>div {
        width: 20%;
        align-items: center;
        height: 40%;
        margin: 1%;
        margin-left: 8%;
    }
    .size {
        height: 100px;
        width: 100px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 580px;
        display: flex;
        height: 80px;
        flex-direction: row;
        background: white;
        margin-left: -193px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    }
    .serachbar_pro_img {
        margin-left: -472px;
        margin-top: 20px;
        width: 107px;
        height: 27px;
    }
    #serac_bar_default {
        background-color: white;
        border: 1px solid rgb(44, 43, 43);
        border-radius: 6px;
        height: 50px;
        width: 200px;
        color: rgb(49, 45, 45);
        margin-left: 30%;
        font-size: 12px;
        align-items: center;
    }
    #flow {
        width: 130%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    #nav {
        background-color: rgb(41, 43, 61);
        margin: 0% 0%;
        padding: 2%;
        height: 15%;
        color: white;
        width: 100%;
    }
    #nav>div {
        margin: 0% 0.5%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 10px;
    }
    #main-cont {
        background-image: url(	https://www.zoomcar.com/img/bg-desktop.png) !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 500px;
        margin: 0% 0%;
        padding: 2%;
        border: 5px;
        color: white;
    }
    .intro {
        text-align: center;
        margin: 10%;
        font-family: "arial";
    }
    .intro>p {
        margin-top: 1%;
    }
    #city {
        border: 0px;
        background-color: transparent;
        font-size: 12px;
        color: rgb(41, 38, 38);
    }
    #slide {
        width: 100%;
        height: 600px;
    }
    #p,
    #p_name {
        font-size: 18px;
    }
    #info {
        height: 600px;
        width: 100%;
    }
    #work {
        height: 400px;
        width: 100%;
    }
    #work>.size {
        height: 200px;
        width: 200px;
    }
    #work>.flex>div {
        width: 20%;
        align-items: center;
        height: 150px;
        margin: 1%;
        margin-left: 1.5%;
    }
    #users {
        background-color: white;
        align-items: center;
        text-align: center;
        margin: 0% 0%;
        margin-top: 4%;
        margin-left: -2%;
        padding: 2%;
        height: 300px;
        width: 100%;
    }
    #footers {
        background-color: rgb(41, 43, 61);
        align-items: center;
        text-align: center;
        margin: 0% 0%;
        padding: 2%;
        height: 150px;
        margin-left: -2%;
        margin-top: 1px;
        width: 100%;
        color: white;
    }
    #info>.flex>div {
        width: 20%;
        align-items: center;
        height: 40%;
        margin: 1%;
        margin-left: 8%;
    }
    .size {
        height: 100px;
        width: 100px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        height: 80px;
        flex-direction: row;
        background: white;
        margin-left: -193px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    }
    .serachbar_pro_img {
        margin-left: -472px;
        margin-top: 20px;
        width: 107px;
        height: 27px;
    }
    #serac_bar_default {
        background-color: white;
        border: 1px solid rgb(44, 43, 43);
        border-radius: 6px;
        height: 50px;
        width: 250px;
        color: rgb(49, 45, 45);
        margin-left: 30%;
        font-size: 15px;
        align-items: center;
    }
    #flow {
        width: 110%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #nav {
        background-color: rgb(41, 43, 61);
        margin: 0% 0%;
        padding: 2%;
        height: 15%;
        color: white;
        width: 100%;
    }
    #nav>div {
        margin: 0% 0.5%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 10px;
    }
    #main-cont {
        background-image: url(	https://www.zoomcar.com/img/bg-desktop.png) !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 500px;
        margin: 0% 0%;
        padding: 2%;
        border: 5px;
        color: white;
    }
    .intro {
        text-align: center;
        margin: 10%;
        font-family: "arial";
    }
    .intro>p {
        margin-top: 1%;
    }
    #city {
        color: black;
        border: 0px;
        background-color: transparent;
        font-size: 12px;
       
    }
    #slide {
        width: 100%;
        height: 600px;
    }
    #p,
    #p_name {
        font-size: 18px;
    }
    #info {
        height: 600px;
        width: 100%;
    }
    #work {
        height: 400px;
        width: 100%;
    }
    #work>.size {
        height: 200px;
        width: 200px;
    }
    #work>.flex>div {
        width: 20%;
        align-items: center;
        height: 150px;
        margin: 1%;
        margin-left: 1.5%;
    }
    #users {
        background-color: white;
        align-items: center;
        text-align: center;
        margin: 0% 0%;
        margin-top: 4%;
        margin-left: -2%;
        padding: 2%;
        height: 300px;
        width: 100%;
    }
    #footers {
        background-color: rgb(41, 43, 61);
        align-items: center;
        text-align: center;
        margin: 0% 0%;
        padding: 2%;
        height: 150px;
        margin-left: -2%;
        margin-top: 1px;
        width: 100%;
        color: white;
    }
    #info>.flex>div {
        width: 20%;
        align-items: center;
        height: 40%;
        margin: 1%;
        margin-left: 8%;
    }
    .size {
        height: 100px;
        width: 100px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        height: 80px;
        flex-direction: row;
        background: white;
        margin-left: -193px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    }
    .serachbar_pro_img {
        margin-left: -472px;
        margin-top: 20px;
        width: 107px;
        height: 27px;
    }
    #serac_bar_default {
        background-color: white;
        border: 1px solid rgb(44, 43, 43);
        border-radius: 6px;
        height: 50px;
        width: 250px;
        color: rgb(49, 45, 45);
        margin-left: 30%;
        font-size: 15px;
        align-items: center;
    }
    #flow {
        width: 110%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    #navbar {
        background-color: rgb(41, 43, 61);
        margin: 0% 0%;
        padding: 2%;
        height: 15%;
        color: white;
        width: 101%!important;
    }
    #nav>div {
        margin: 0% 0.5%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 15px;
    }
    #main-cont {
        background-image: url(	https://www.zoomcar.com/img/bg-desktop.png) !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 500px;
        margin: 0% 0%;
        padding: 2%;
        border: 5px;
        color: white;
    }
    .intro {
        text-align: center;
        margin: 10%;
        font-family: "arial";
    }
    .intro>p {
        margin-top: 1%;
    }
    #city {
        color: black;
        border: 0px;
        background-color: transparent;
        font-size: 12px;
       
    }
    #slide {
        width: 100%;
        height: 600px;
    }
    #p,
    #p_name {
        font-size: 18px;
    }
    #info {
        height: 600px;
        width: 100%;
    }
    #work {
        height: 400px;
        width: 100%;
    }
    #work>.size {
        height: 200px;
        width: 200px;
    }
    #work>.flex>div {
        width: 20%;
        align-items: center;
        height: 150px;
        margin: 1%;
        margin-left: 1.5%;
    }
    #users {
        background-color: white;
        align-items: center;
        text-align: center;
        margin: 0% 0%;
        margin-top: 4%;
        margin-left: -2%;
        padding: 2%;
        height: 300px;
        width: 100%;
    }
    #footers {
        background-color: rgb(41, 43, 61);
        align-items: center;
        text-align: center;
        margin: 0% 0%;
        padding: 2%;
        height: 150px;
        margin-left: -2%;
        margin-top: 1px;
        width: 100%;
        color: white;
    }
    #info>.flex>div {
        width: 20%;
        align-items: center;
        height: 40%;
        margin: 1%;
        margin-left: 8%;
    }
    .size {
        height: 100px;
        width: 100px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        height: 80px;
        flex-direction: row;
        background: white;
        margin-left: -193px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    }
    .serachbar_pro_img {
        margin-left: -472px;
        margin-top: 20px;
        width: 107px;
        height: 27px;
    }
    #serac_bar_default {
        background-color: white;
        border: 1px solid rgb(44, 43, 43);
        border-radius: 6px;
        height: 50px;
        width: 250px;
        color: rgb(49, 45, 45);
        margin-left: 30%;
        font-size: 18px;
        align-items: center;
    }
    #flow {
        width: 114%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1000px) {
    #nav {
        background-color: #33414f;
        margin: 0% 0%;
        padding: 1% 2% 1% 2%;
        height: 15%;
        color: white;
        width: 100.6%
    }
    #nav>div {
        margin: 0% 0.5%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
    }
    #main-cont {
        background-image: url(	https://www.zoomcar.com/img/bg-desktop.png) !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100.6%;
        height: 500px;
        margin: 0% 0%;
        padding: 2%;
        border: 5px;
        color: white;
    }
    .intro {
        text-align: center;
        margin: 10%;
        font-family: "arial";
    }
    .intro>p {
        margin-top: 1%;
    }
    #city { color: black;
        border: 0px;
        background-color: transparent;
        font-size: 18px;
        font-weight: 500;
       
    }
    #slide {
        background-image: url(	https://assets.zoomcar.com/assets/zap/zap-buy-car-desktop-c18e7edc84954c5437222b8ac13c7a27.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 102%;
        height: 500px;
        margin: 0% 0%;
        margin-left: -1%;
        padding: 2%;
        color: white;
    }
    #p,
    #p_name {
      
        font-size: 20px;
        width: 186%;
        margin-left: -46%;
    }
    #info {
        height: 600px;
        width: 100.6%;
        background: rgb(238, 238, 238);
    }
    #work {
        height: 400px;
        width: 100%;
    }
    #work>.size {
        height: 200px;
        width: 200px;
    }
    #work>.flex>div {
        width: 20%;
        align-items: center;
        height: 150px;
        margin: 1%;
        margin-left: 1.5%;
    }
    #users {
        background-color: rgb(249, 249, 249);
        align-items: center;
        text-align: center;
        margin: 0% 0%;
        margin-left: -2%;
        padding: 2%;
        height: 300px;
        width: 100%;
        margin-top: 27%;
    }
    #footers {
        background-color: #33414f !important;
        align-items: center;
        text-align: center;
        padding: 2%;
        height: 75px;
        width: 100%;
        margin-left: -10px;
        color: white;
        margin-bottom: -10px;
    }
    
      


    #info>.flex>div {
        width: 20%;
        align-items: center;
        height: 40%;
        margin: 1%;
        margin-left: 8%;
    }
    .size {
        height: 100px;
        width: 100px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        height: 80px;
        flex-direction: row;
        background: white;
        margin-left: -193px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    }
    .serachbar_pro_img {
        margin-left: -472px;
        margin-top: 20px;
        width: 107px;
        height: 27px;
    }
    #serac_bar_default {
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
        border-radius: 6px;
        height: 58px;
        width: 538px;
        color: rgb(49, 45, 45);
        margin-left: 24%;
        font-size: 20px;
        align-items: center;
    }
    #flow {
        width: 114%;
    }
}